.button {
    height:40px;
    width:120px;
    background-color:orange;
    color:white;
    font-size:18pt;

}
.Label {
    background-color:blue;
    font-size:18pt;
    color: white;
}
.div{
 
    width:1255px;
    height:100px;
    margin-left:50px;
    margin-right:50px;
}
